:root {
  --backgroundColor: #eaffe9;
  --main-font-color: #666;
}

@font-face {
  font-family: openhuninn;
  src: url(./fonts/jf-openhuninn-1.1.ttf);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: openhuninn;
}
body {
  background-color: var(--backgroundColor);
}
/* header start*/
header {
  max-width: 1080px;
  margin: 0 auto 2rem;
}
header h1 {
  text-align: center;
  margin: 2.5rem;
}
button {
  border: 0px;
  background: transparent;
}

i {
  color: #86c166;
  font-size: 1.5rem;
  border: 2px solid #86c166;
  border-radius: 5px;
  padding: 0.3rem;
  display: none;
}

.fa {
  display: none;
  margin: 0 1rem;
}

.function-btn {
  display: flex;
  justify-content: space-between;
}
.function-btn p a {
  margin: 0 1rem;
  color: #86c166;
  font-size: 18px;
  font-weight: 400;
  border: #86c166 2px solid;
  padding: 5px;
  border-radius: 3px;
  transition: color 0.5s ease-in, background 0.5s;
}

.function-btn p:hover a {
  color: #fff;
  background: #86c166;
}

.link-group {
  display: flex;
  width: 70%;
  justify-content: space-around;
  align-items: center;
}
.link-group a {
  color: var(--main-font-color);
  font-size: 1rem;
  font-weight: 600;
}
/* header end*/

/* banner start */
.banner-img {
  max-width: 1080px;
  margin: auto;
}
.banner-img img {
  width: 100%;
  height: 400px;
}
/* banner end */

.container {
  max-width: 1080px;
  margin: auto;
  /* position: relative; */
}

.content-group .title,
.content-group .content {
  text-align: center;
}
.content-group .title {
  margin: 1.5rem;
}
.content-group .title h1 {
  font-weight: 600;
  color: var(--main-font-color);
}

.content-group .content {
  max-width: 550px;
  margin: auto;
  font-size: 1rem;
  font-weight: 600;
  color: var(--main-font-color);
}
.content-item-group {
  max-width: 1080px;
  margin: 5rem auto 30rem;
  display: flex;
  /* flex-direction: column; */
  position: relative;
}

.content-item-group .text,
.content-item-group .content-img {
  width: 50%;
  height: 350px;
}

.content-item-group .text {
  background-color: #f3de8a;
  z-index: 2;
  position: absolute;
  right: 2rem;
  padding: 4rem 2.2rem 4rem 5rem;
}

.content-item-group .content-img {
  position: absolute;
  left: 2rem;
  top: 2rem;
  z-index: 3;
}
.content-item-group img {
  width: 100%;
  vertical-align: middle;
  height: 350px;
}

.content-item-group .text h1 {
  padding: 5px;
  color: #333;
}

.content-item-group .text p {
  margin-top: 2rem;
  color: #333;
}

.shop {
  height: 300px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-card {
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  margin: 0 20px;
  width: 30%;
  height: 250px;
  display: flex;
}
.item-card img {
  width: 100%;
  height: 250px;
}
.text-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  width: 50%;
}
.tag span {
  /* color: #333; */
  font-weight: 900;
  background-color: #e29212;
  border: #e29212 1px solid;
  border-radius: 8px;
}
.text-group .text {
  font-size: 2.4rem;
}
.text-group .price-group {
  display: flex;
  /* justify-content: flex-start; */
}
.text-group .price {
  margin-right: 1rem;
}
.price-group .special-offer {
  color: #cd2177;
  font-weight: 600;
  font-size: 1.1rem;
}
.price-group .original-price {
  text-decoration: line-through;
}

.card-btn .item-btn,
.card-btn .shop-card-btn {
  padding: 1px;
  cursor: pointer;
  background-color: #fff;
  font-weight: 600;
  width: 80px;
  border-radius: 5px;
}

.card-btn .item-btn {
  border: #86c166 1px solid;
  color: #86c166;
}
.card-btn .shop-card-btn {
  border: #cd2177 1px solid;
  color: #cd2177;
}
.card-img {
  width: 50%;
}
.card-img img {
  width: 100%;
  vertical-align: middle;
}

.about {
  display: flex;
  justify-content: center;
  margin: 4.6rem 0;
}

.about-banner {
  text-align: center;
  line-height: 150px;
  width: 1480px;
  background-image: url(./img/banner-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 150px;
  border-radius: 15px;
}
.about-banner p {
  color: #fff;
  font-size: 2.2rem;
  font-weight: 900;
}

.about-content {
  display: flex;
  justify-content: center;
  position: relative;
  height: 400px;
  max-width: 1080px;
}
.about-content .text,
.about-content .content-img {
  width: 50%;
  height: 350px;
}

.about-content .text {
  background-color: #c3e2dc;
  padding: 4rem 5rem 4rem 2.2rem;
  left: 2rem;
  position: absolute;
  z-index: 2;
}

.about-content .text h1 {
  max-width: 280px;
  padding: 5px;
  color: #333;
}
.about-content .text p {
  margin-top: 2rem;
  color: #999;
}

.about-content .content-img {
  z-index: 3;
  position: absolute;
  right: 2rem;
  top: 1.5rem;
}

.about-content .content-img img {
  width: 100%;
  vertical-align: middle;
  height: 350px;
}
footer {
  margin-top: 5rem;
  text-align: center;
  background-color: #f3de8a;
  height: 60px;
  color: #666;
  line-height: 60px;
}

@media screen and (max-width: 1330px) {
  .item-card {
    width: 50%;
  }
  .card-btn .item-btn,
  .card-btn .shop-card-btn {
    margin: 0.2rem 0;
  }
}

@media screen and (max-width: 815px) {
  .function-btn p a {
    display: none;
  }
  .fa {
    display: block;
  }
  .item-card {
    width: 100%;
  }
  .item-card:nth-child(2) {
    display: none;
  }
}

@media screen and (max-width: 760px) {
  .content-item-group {
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 2rem 0;
  }
  .content-item-group .text,
  .content-item-group .content-img {
    position: static;
    height: 50%;
    width: 80%;
  }

  .content-item-group .text {
    order: 2;
    padding: 5rem;
  }

  .content-item-group .content-img {
    height: 300px;
    order: 1;
    border: 5px solid #f3de8a;
  }

  .about-content {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .about-content .text,
  .about-content .content-img {
    position: static;
    height: 50%;
    width: 80%;
  }
  .about-content .text {
    order: 2;
    padding: 5rem;
  }
  .about-content .content-img {
    height: 300px;
    order: 1;
    border: 5px solid #c3e2dc;
  }
}
